{% extends "main.twig" %}
{% block content %}
Very much a work in progess, as I rebuild using my own static site generator <a href="https://github.com/trq/Gen">Gen</a>. Please see <a href="/blog">my blog</a> for content so far.
{% endblock %}
