{% extends "main.twig" %}
{% block content %}
You might wonder why I'm starting yet another blog, after all, this would be about my third attempt right? Well, I am, for numerous reasons.

Firstly, Iv'e finally got myself an awesome job. I do awesome things all day and sometimes I like talking about them. Secondly, I have an awesome open source project (<a title="Proem" href="http://proemframework.org" target="_blank">Proem</a>) that I am working on, and sometimes I like talking about that. Finally, who isn't blogging these days? If I can find the time, I hope to turn this into a decent read for anyone interested in Linux, software development and OSS.

Who am I? Tony Quilkey, just another web developer &amp; Linux hack. I also produce electronic music. I live on the Central Coast of NSW, Australia with my beautiful wife and our two cats. I work as a software developer for an awesome Sydney based company who develop administration applications for educators. We develop mostly in PHP/MySql running on customised BSD systems. I work on a Mac both at work and at home. I still get plenty of time to play with GNU/Linux though. I contribute to <a title="Funtoo" href="http://funtoo.org" target="_blank">Funtoo</a>, administer the <a title="PHPFreaks" href="http://phpfreaks.com" target="_blank">PHPFreaks</a> &amp; <a title="Linux Forum" href="http://linuxforum.com" target="_blank">Linux Forums</a> and maintain several servers running on OpenVZ at home.

Anyway, just glad to get some sort of intro out of the way. I'll have something more interesting to say next time I get a chance.
{% endblock %}
