{% extends "main.twig" %}
{% block content %}
This is a <a href="http://wordpress.org" title="Wordpress">Wordpress</a> powered blog. I'm not a designer, but I know what I like and it's minimalism. The blog uses a Html5 boilerplate theme called <a href="http://html5.mimoymima.com/" title="HTML5 Shell">HTML5 Shell</a>.

I'm not really planning on doing to much with the design, I might clean up a few bits and pieces and maybe add a few pages, but overall, this is probably about it.
{% endblock %}
