{% extends "main.twig" %}
{% block content %}
Ok, so Iv'e got some work I need to get done on a rather large <a href="http://simplemachines.org" target="_blank" title="Simple Machines Forum">simple machines forum</a>, I figured the best thing to do would be to open the database in <a href="http://mysql.org" target="_blank" title="MySql">MySql</a> workbench and take a look at the relationships.

What do you know? There are none defined at the database level. If these guys can't get the database right, I'm really looking forward to digging into the code.

Who the fuck writes this stuff?

<a href="http://thorpesystems.com/wp-content/uploads/2011/11/simple-machines.png"><img src="http://thorpesystems.com/wp-content/uploads/2011/11/simple-machines-300x181.png" alt="" title="simple-machines" width="500" height="240" class="aligncenter size-medium wp-image-78" /></a>
{% endblock %}
