{% extends "main.twig" %}
{% block content %}
At <a href="http://phpfreaks.com">phpfreaks.com</a>, a site that I help administer and moderate we have always had a policy of "No advertising" by users. This policy was put in place to prevent the obvious wave of members signing up to spam our boards with links to all sorts of unrelated material and even related material like "Hey, check out my latest ... open source project".

The idea is simple. If we let everyone post links to their projects our forums would eventually be overrun by these types of posts.

It should be noted that we have no objection to members linking to their personal projects within their signatures. I do, and so do a lot of other members.

Now, as a moderator, it is up to us to use our discretion in some of these cases. For example, if your a long standing and helpful member who has made a decent contribution to our community you might get away with occasionally posting a link to one of your projects in a reply to a post. Hell, you might even be able to open a thread on the subject. But in general, if your a new member, these types of posts will be removed and you will be notified of the reason behind it's removal.

Most members are understanding, and will try and contribute to the community before attempting one of the *advertising* posts again. The ones who aren't so understanding, are generally the ones who have signed up just to get their project noticed.

Anyway, the reason for my rant. Today, I removed one of these *advertising* type threads that was made by <a href="http://forums.phpfreaks.com/user/132248-seederus/">seeder.us</a> as his very first thread. And what do I get? A nice PM with a link to <a href="http://phpfreaks.tumblr.com">http://phpfreaks.tumblr.com</a>. Awesome!

So, the guy is obviously a very clever guy, we can tell by his insistent use of profanities to make his point. Not only that, but he is courages. So courages he puts no name to his rant and disables commenting so I can't even attempt to defend myself.

Needless to say, would anyone really want to use an <a href="http://seeder.us/bubbles-video-script-release-v1-0/">open source project</a> made by a guy with no sense of community in the first place?

Anyway... moving on.
{% endblock %}
