  </div>
  <div class="row">
    <div class="span6 gen-footer pull-right">
      Generated from <a href="https://github.com/trq/thorpesystems.com-src">Source</a> by <a href="https://github.com/trq/Gen">Gen</a> {{ now|date('d/m/Y  H:i') }}
    </div>
  </div>
  </body>
</html>
